:root {
  --porsche: #e5a363;
  --dark-charcoal: #333333;
  --pampas: #f7f2ec;
  --dark-red: #9b1414;
  --ff-primary: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    Arial, sans-serif;
  --ff-heading: "LibreCaslonText";
  --ff-event-card: "Montserrat";
}

html {
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
}

html,
body {
  /* gets rid of the white around the page */
  padding: 0;
  margin: 0;
}

main {
  max-width: 800px;
  margin-inline: auto;
}

.main-logo {
  max-height: 320px;
  max-width: 320px;
  margin: 5%;
  object-fit: contain;
}

body {
  display: flex;
  flex-direction: column;
  background: no-repeat top url("/layered-waves-haikei.svg");
  background-size: cover;

  /* https://matthewjamestaylor.com/responsive-columns */
  /* fallback height */
  min-height: 100vh;

  /* new small viewport height for modern browsers */
  min-height: 100svh;
}

@font-face {
  font-family: "LibreCaslonText";
  src: url("/fonts/LibreCaslonText-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "LibreCaslonText";
  src: url("/fonts/LibreCaslonText-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "LibreCaslonText";
  src: url("/fonts/LibreCaslonText-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
}

.page-content {
  flex-grow: 1; /* needed for sticky footer */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

footer {
  /* https://matthewjamestaylor.com/responsive-columns */
  margin-top: auto;
}

header,
footer {
  color: var(--porsche);
  background-color: var(--dark-charcoal);
}

header > .horizontal-center,
footer > .horizontal-center {
  z-index: 1;
  flex-grow: 0; /* needed for sticky footer */
  flex-shrink: 0;
  padding: 1%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

/* https://stackoverflow.com/questions/32180091/html-fixed-header-footer-horizontally-centered-layout */
.horizontal-center {
  max-width: 800px;
  margin-inline: auto;
  padding: 2%;
}

.header__title {
  color: var(--pampas);
  text-decoration: none;
}

.header__title:hover {
  background-color: var(--dark-charcoal);
}

.header__navbar_root {
  margin-left: auto; /* puts space between header title and navbar */
  color: var(--porsche);
}

.header__navbar_list {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: space-between;
}

.header__navbar_link {
  color: var(--porsche);
  font-weight: 500;
  font-size: 1.3rem;
  text-decoration: none;
}

.header__navbar_link:hover {
  text-decoration-line: underline;
}

.header__navbar_button {
  /* Removes the default border styling */
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-card {
  font-family: var(--ff-event-card);
  color: var(--pampas);
}

.event-card > a {
  text-decoration-color: none;
  text-decoration-line: none;
}

.event-card__container {
  display: flex;
  align-items: center;

  max-height: 100px;
  max-width: 500px;
  background-color: var(--dark-red);
  border-color: var(--porsche);
  border-width: 1.5px;
  border-style: dashed;
  border-radius: 6px;
  padding: 0px 0px;
  margin-bottom: 16px;
  cursor: pointer;
  box-shadow: var(--dark-red) 0px 0px 0px 5px;
}

.event-card-bobae {
  float: left;
  width: 150px;
  height: 150px;
  object-fit: contain;

  position: relative;
  align-self: center;
  left: -10px;
  bottom: 5px;
}

.event-card-info-container__event-name {
  color: var(--porsche);
  font-size: 1.2rem;
  font-weight: 600;
}

.event-card-info-container__event-date {
  font-size: 1rem;
  font-weight: 400;
}

.event-card-info-container__event-time {
  font-size: 1rem;
  font-weight: 400;
}

.faq__question {
  /* Removes the default border styling */
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  display: flex;
  align-items: center;
}

.faq_question__plus_icon,
.faq_question__minus_icon {
  color: var(--porsche);
}

.faq__question {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.4rem;
  font-family: var(--ff-heading);
}

.faq__question:hover {
  text-decoration-color: var(--porsche);
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

.faq__question[data-state="open"] > .faq_question__plus_icon {
  display: none;
}

.faq__question[data-state="closed"] > .faq_question__minus_icon {
  display: none;
}

.faq_answer {
  padding-bottom: 1.5rem;
}

.separator {
  border-bottom-color: var(--porsche);
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}

.add-calendar-button {
  margin-top: 20px;
  max-width: 170px;
  display: flex;
  align-items: center;

  background-color: var(--dark-red);
  border-color: var(--porsche);
  border-width: 1.5px;
  border-radius: 6px;
  padding: 0px 2px 0px 2px;
  margin-bottom: 16px;
  cursor: pointer;
  box-shadow: var(--dark-red) 0px 0px 0px 5px;
}

.add-calendar-button__text {
  margin-left: auto;
  color: var(--porsche);
  font-size: 1.4rem;
  font-weight: 600;
  flex-direction: column;
}

footer > .horizontal-center > small {
  /* puts space between copyright and logos */
  margin-left: auto;
  color: var(--pampas);
}

.footer__icons {
  justify-content: center;
}

.footer__icon {
  color: var(--porsche); /* overrides styling of Link element */
  margin-left: 2px;
  margin-right: 2px;
}
